html {
    scroll-behavior: smooth;
}
* {
margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
   background-color: #eaeded;
    color: #111;
}


#head {
    background-color: #1f2d3d;
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 40px;   
    z-index: 1000;
}
#logo {
   display: flex;
    align-items: center;
    gap: 10px;
}

#logo img {
    width: 40px;
}

#logo a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

#menu {
    list-style: none;
    display: flex;
    gap: 18px;
}

#menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

#menu a:hover {
    color: #f3a847;
}


#li ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

#li ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

#li ul li a:hover {
    color: #f1c40f;
}


#imagenes {
    position: relative;
    height: 520px;
    overflow: hidden;
    color: white;
}

#imagenes video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
}

#imagenes::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        rgba(0, 26, 255, 0.5),
        rgba(78, 48, 160, 0.5)
    );
    z-index: 2;
}

#imagenes .contenido {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}


#classic{
position: sticky;
top: 20px;
}

#titulo-banner {
    font-size: 36px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#texto-banner {
    font-size: 18px;
}


main section {
    padding: 60px 80px;
}

main section h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    position: relative;
}

main section h2::after {
    content: "";
    width: 60px;
    height: 4px;
    background-color: #f1c40f;
    display: block;
    margin: 10px auto 0;
}

#Juguetes,
#categorias,#mas-vendidos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}



.card {
    background-color: #f8f9fa;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.card h3 {
    padding: 15px;
    font-size: 30px;
    color: #1f2d3d;
}

.card p {
    padding: 0 15px 20px;
    font-size: 14px;
}


#juguete .juguete-item img {
    height: 400px;
    object-fit: contain;
    background-color: #fff;
    padding: 20px;
}


#foot {
    background-color: #1f2d3d;
    color: #fff;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

#foot h4 {
      background-color: #232f3e;
    color: white;
    padding: 40px 20px 20px;
}

#foot ul {
    list-style: none;
}

#foot ul li {
    margin-bottom: 8px;
}

#foot ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

#foot ul li a:hover {
    text-decoration: underline;
}


#footer-bottom {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}

#footer-bottom a {
    color: #f1c40f;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}
form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    height: 100px;
    resize: none;
}

form button {
    margin-top: 20px;
    background-color: #ffd814;
    border: none;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

form button:hover {
    background-color: #f7ca00;
}
form label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}
.formulario {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.formulario h2 {
    margin-bottom: 10px;
}

.formulario p {
    margin-bottom: 20px;
    color: #555;
}
@media (max-width: 768px) {

    #li ul {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #1f2d3d;

        flex-direction: column;
        align-items: center;
        display: none;

        padding: 20px 0;
    }

    #li ul li a {
        font-size: 16px;
        padding: 10px 0;
    }
}
#Juguetes, #categorias, #mas-vendidos, #Contacto {
  scroll-margin-top: 190px; 
}
#btn-menu {
  display: none;
}

#menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #fff;
  user-select: none;
}
@media (max-width: 768px) {

  #menu-icon{
    display: block;
  }

  /* Menú cerrado (pero animable) */
  #li ul{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #1f2d3d;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding: 0;               /* cerrado */
    transition: max-height .35s ease, opacity .35s ease, padding .35s ease;
  }

  /* Menú abierto */
  #btn-menu:checked ~ #li ul{
    max-height: 500px;        /* suficiente para tus links */
    opacity: 1;
    padding: 20px 0;          /* abierto */
  }
}
