/* RESET GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eaeded;
    color: #111;
}


#header {
    background-color: #1f2d3d;
    color: white;
    padding: 50px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo img {
    width: 40px;
}

#logo a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

#menu {
    list-style: none;
    display: flex;
    gap: 18px;
}

#menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

#menu a:hover {
    color: #f3a847;
}


#main {
    max-width: 1200px;
    margin: auto;
    padding: 30px 20px;
}


#intro-listas {
    background: linear-gradient(
        rgba(255,255,255,0.9),
        rgba(255,255,255,0.9)
    ),
    url("/mnt/data/e5350daa-5139-4925-8886-8da118c66dce.png");
    background-size: cover;
    background-position: center;
    padding: 60px 40px;
    border-radius: 10px;
    margin-bottom: 40px;
}

#titulo-intro {
    font-size: 32px;
    margin-bottom: 15px;
}

#texto-intro {
    font-size: 16px;
    margin-bottom: 25px;
    max-width: 600px;
}

#btn-encontrar,
#btn-crear {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

#btn-encontrar {
    background-color: #ffd814;
    color: #111;
}

#btn-crear {
    background-color: #ffa41c;
    color: #111;
}

#btn-encontrar:hover,
#btn-crear:hover {
    filter: brightness(0.95);
}


#tipos-listas {
    margin-bottom: 40px;
}

#tipos-listas h2 {
    margin-bottom: 20px;
}

#tipos-listas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card-tipo {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    transition: transform 0.3s;
}

.card-tipo:hover {
    transform: translateY(-5px);
}

.card-tipo img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

#ventajas {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 40px;
}

#ventajas h2 {
    margin-bottom: 20px;
}

#ventajas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card-ventaja {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
}


#crear-lista {
    margin-bottom: 40px;
}

#crear-lista h2 {
    margin-bottom: 20px;
}

#crear-lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.card-crear {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-crear img {
    width: 100%;
    border-radius: 8px;
}

.card-crear p {
    margin-top: 8px;
    font-weight: bold;
}


#personaliza {
    margin-bottom: 50px;
}

#personaliza h2 {
    margin-bottom: 20px;
}

#personaliza {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
}

.card-personaliza {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12);
}

.card-personaliza img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}


#footer {
    background-color: #232f3e;
    color: white;
    padding: 80px 800px 20px;
}

.footer-col {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 25px;
}

.footer-col h4 {
    margin-bottom: 10px;
}

.footer-col ul {
    list-style: none;
    margin-bottom: 8px;
}

.footer-col a {
   color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-col a:hover {
    text-decoration: underline;
}

#footer-bottom {
   grid-column: 1 / -1;
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}

#footer-bottom a {
    color: #f1c40f;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}
