* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eaeded;
    color: #111;
}

#header {
   background-color: #1f2d3d;
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 40px;   
    z-index: 1000;
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo img {
    width: 40px;
}

#logo a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

#menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

#menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

#menu a:hover {
    color: #f3a847;
}

#main {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}


#servicio {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}


.formulario {
    background-color: white;
    padding: 30px;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.formulario h2 {
    margin-bottom: 10px;
}

.formulario p {
    margin-bottom: 20px;
    color: #555;
}

form label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    height: 100px;
    resize: none;
}

form button {
    margin-top: 20px;
    background-color: #ffd814;
    border: none;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

form button:hover {
    background-color: #f7ca00;
}

/* INFO */
.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px;
}

.bloque {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.bloque h3 {
    margin-bottom: 10px;
}

.destacado {
    border-left: 6px solid #ffa41c;
}

.telefono {
    font-size: 20px;
    font-weight: bold;
    color: #b12704;
}


#footer {
  background-color: #1f2d3d;
    color: #fff;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}
#footer h4 {
      background-color: #232f3e;
    color: white;
    padding: 40px 20px 20px;
}

#footer ul {
    list-style: none;
}

#footer ul li {
    margin-bottom: 5px;
}

#footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

#footer ul li a:hover {
    text-decoration: underline;
}


#footer-bottom {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}

#footer-bottom a {
    color: #f1c40f;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}
@media (max-width: 768px) {

    #li ul {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #1f2d3d;

        flex-direction: column;
        align-items: center;
        display: none;

        padding: 20px 0;
    }

    #li ul li a {
        font-size: 16px;
        padding: 10px 0;
    }
}

